[package]
name = "lives"
description = "Lifetime-dynamic smart pointers"
version.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true
authors.workspace = true

[dependencies]
lives-macros.workspace = true